
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Ссылка на About", "About", "Home")
        @Html.ActionLink("Ссылка на Index", "Index", "Home")
    </div>
</body>
</html>
