
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Variable: @ViewBag.Sum
        
        @Html.ActionLink("Link=10/10", "Index", "Default", new {x = "1/2"}, null)

    </div>
</body>
</html>
